<!DOCTYPE html>
<html>
    <head>
        <title>Dumpster Object Explorer</title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <h1>Debug Output</h1>
        {{> node}}
    </body>
</html>