<!DOCTYPE html>
<html>
    <head>
        <title>Dumpster Object Explorer</title>
        {{> header}}
    </head>
    <body>
        <div class="container">
            <h1>Dumpster Debug Output</h1>
            {{> node}}
        </div>
    </body>
</html>